<% if filter.nil? %>
  <p>Complete list of files needed to provision this server</p>
<% else %>
  <p>List of <%= filter %> files for provisioning this server</p>
<% end %>
<ul>
  <% needs.each do |need| %>
    <li>
    <dl itemscope itemtype='http://lrdesign.com/logical-construct/microdata#need'>
      <dt>Path</dt>
      <dd>
      <a itemprop="deliver_to" rel="requirement" href="<%= url_for(Need, '*' => need.path)%>">
        <span itemprop="requirement"><%= need.path %></span>
      </a>
      </dd>
      <dt>Signature</dt>
      <dd itemprop="signature"><%= need.signature %></dd>
      <dt>Status</dt>
      <dd itemprop="status"><%= need.resolved ? "resolved" : "unresolved" %></dd>
    </dl>
    </li>
  <% end %>
</ul>
<p>Add needs:</p>
<form action="<%= url_for(NeedList) %>" method="post">
  <label for="path">Path</label>
  <input type="text" name="path" value="" />

  <label for="signature">Signature</label>
  <input type="text" name="signature" value="" />

  <button type="submit" name="submit" value="yes"></button>
</form>
